body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

.stopwatch {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.time-display {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #8AC7DB;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #669db8;
}

.laps {
    margin-top: 20px;
    text-align: left;
    max-height: 150px;
    overflow-y: auto;
}

.lap-item {
    background-color: #e1f0f6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #333;
}
